* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.square {
  width: 2em;
  height: 2em;
  padding-top: 0.2em;
}

.blur {
  width: 100%;
  height: 100vh;
  background-color: rgba(245, 245, 245, 0.824);
  position: absolute;
  left: 0;
  display: none;
}

.bar {
  width: 2em;
  height: 0.4em;
  background-color: tomato;
  border-radius: 50px;
  margin: 0.2em 0;
}

.bar:nth-child(1) {
  margin-top: 0;
  width: 0.66em;
}

.bar:nth-child(2) {
  margin-top: 0;
  width: 1.32em;
}

nav ul {
  display: none;
  list-style-type: none;
  font-size: 1.3vmax;
}

.burger {
  width: fit-content;
  padding: 0.25em;
}

.burger:hover ul,
.burger:hover .blur {
  display: block;
}

li:hover {
  color: white;
}

.nav-link {
  text-decoration: none;
  color: #ee6352;
  position: relative;
}

.nav-link::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 2px;
  background: currentColor;
  transform: scaleX(0);
  transform-origin: right;
  transition: transform 250ms ease-in;
}

.nav-link:hover::after {
  transform: scaleX(1);
  transform-origin: left;
}

@media (min-width: 600px) {
  .burger {
    width: 100%;
  }
  .square {
    display: none;
  }
  .burger:hover .blur {
    display: none;
  }
  .burger:hover ul,
nav ul {
    display: flex;
    transition: all 0.7s ease-in-out;
    gap: 1rem;
  }
  li {
    padding: 0.25rem;
  }
}
@media (max-width: 600px) {
  .burger:hover ul,
nav ul {
    height: 100vh;
    width: 10rem;
    background-color: #011627;
    color: #295775;
    font-size: 1.5rem;
    padding: 1rem;
    position: absolute;
    left: 0;
    z-index: 3;
  }
  .burger:hover .blur {
    width: 100vw;
    height: 100vh;
  }
  nav {
    background-color: #011627;
  }
  li {
    padding: 0.25rem;
    margin-bottom: 2rem;
  }
  ul {
    margin: 0;
  }
  header img {
    display: none;
  }
}
footer {
  height: 13rem;
  border-top-left-radius: 80%;
  border-top-right-radius: 80%;
  background-color: #011627;
  display: flex;
}
footer h1,
footer p {
  color: whitesmoke;
}
footer img {
  width: 1.5rem;
  height: 0.8rem;
  padding: 0 5px;
  filter: invert(42%) sepia(65%) saturate(1910%) hue-rotate(163deg) brightness(97%) contrast(101%);
}
footer a {
  padding: 10px;
}

.footer-txt {
  width: 100%;
<<<<<<< HEAD:src/styles/index.7f6e1797.css
=======
  display: flex;
>>>>>>> 474113c4fe994ff82f23756bbec9c2346722d353:src/styles/main.css
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.footer-txt .txt1 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.footer-txt .txt1 .choice {
  display: flex;
  padding: 1rem;
  gap: 2rem;
}
.footer-txt .txt1 .choice :nth-child(1) {
  font-size: 1.2rem;
  color: #01a660;
}
.footer-txt .txt1 .choice :nth-child(2) {
  font-size: 1.2rem;
  color: #38a3a5;
  text-decoration: line-through;
}
.footer-txt .txt2 {
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: 0 1rem;
}

.overlay {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.7);
  transition: opacity 500ms;
  visibility: hidden;
  opacity: 0;
  z-index: 5;
}

.overlay:target {
  visibility: visible;
  opacity: 1;
}

.popup {
  margin: 70px auto;
  padding: 20px;
  background: #cad2c5;
  border-radius: 5px;
  width: 25rem;
  position: relative;
  top: 25%;
  transition: all 5s ease-in-out;
}
.popup .btn {
  font-size: 1.3rem;
  padding: 0.5rem;
  margin-top: 0.5rem;
  border-radius: 7px;
  background-color: #cad2c5;
  cursor: pointer;
}
.popup .btn:hover {
  background-color: #a6b39e;
}

.popup h2 {
  margin-top: 0;
  color: #333;
}

.popup .close {
  position: absolute;
  top: 10px;
  right: 10px;
  transition: all 200ms;
  font-size: 30px;
  font-weight: bold;
  text-decoration: none;
  color: #333;
}

.popup .close:hover {
  color: #d8065e;
}

.popup {
  max-height: 30%;
  overflow: auto;
}

@media (min-width: 600px) {
  .intro {
    opacity: 0;
    animation-name: fadeIn;
    animation-duration: 3s;
    animation-iteration-count: 1;
  }
  .txt1 {
    animation-delay: 1s;
  }
  .txt2 {
    animation-delay: 4s;
  }
  .txt3 {
    animation-delay: 7s;
  }
  .hero-txt h1 {
    opacity: 0;
    animation-name: fadeIn;
    animation-duration: 1s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
    animation-duration: 2s;
    animation-delay: 11s;
  }
  .hero-txt h2 {
    opacity: 0;
    animation-name: fadeIn;
    animation-duration: 1s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
    animation-duration: 2s;
    animation-delay: 12s;
  }
  .hero-img {
    opacity: 0;
    animation-name: fadeIn;
    animation-duration: 1s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
    animation-duration: 3s;
    animation-delay: 13s;
  }
  header img {
    animation-name: goLeft;
    animation-fill-mode: forwards;
    opacity: 0;
    animation-duration: 2s;
    animation-delay: 15s;
  }
  nav ul {
    opacity: 0;
    animation-name: goRight;
    animation-fill-mode: forwards;
    animation-duration: 2s;
    animation-delay: 15s;
  }
  .hero a {
    opacity: 0;
    animation-name: fadeIn;
    animation-duration: 1s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
    animation-duration: 3s;
    animation-delay: 16s;
  }
  .circle1 {
    animation-name: cRed;
    animation-duration: 30s;
    animation-iteration-count: infinite;
  }
  .circle2 {
    animation-name: cBlue;
    animation-duration: 40s;
    animation-iteration-count: infinite;
  }
  .circle3 {
    animation-name: cGreen;
    animation-duration: 50s;
    animation-iteration-count: infinite;
  }
}
@keyframes goLeft {
  0% {
    opacity: 0.2;
    transform: translateX(40rem);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}
@keyframes goRight {
  0% {
    opacity: 0.2;
    transform: translateX(-40rem);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}
@keyframes fadeIn {
  0% {
    transform: scale(0.7);
  }
  100% {
    opacity: 1;
  }
}
@keyframes cRed {
  0% {
    transform: translate3d(0);
  }
  20% {
    transform: translate3d(20rem, 30rem, 50rem);
  }
  40% {
    transform: translate3d(40rem, 25rem, 20rem);
  }
  60% {
    transform: translate3d(60rem, 15rem, 60rem);
  }
  80% {
    transform: translate3d(80rem, 15rem, 30rem);
  }
  100% {
    transform: translate3d(0);
    transform: scale(0.7);
    overflow: hidden;
  }
}
@keyframes cBlue {
  0% {
    transform: translate3d(0);
    transform: rotate(45deg) scale(0.5);
  }
  20% {
    transform: translate3d(-20rem, -25rem, 50rem);
  }
  40% {
    transform: translate3d(-40rem, -20rem, 20rem);
  }
  60% {
    transform: translate3d(-60rem, -10rem, 60rem);
  }
  80% {
    transform: translate3d(-75rem, -10rem, 30rem);
    transform: rotate(0.5turn);
  }
  100% {
    transform: translate3d(0);
    transform: rotate(0.5turn);
  }
}
@keyframes cGreen {
  0% {
    transform: translate3d(0);
    transform: rotate(0.5turn) scale(1.5);
  }
  20% {
    transform: translate3d(10rem, 5rem, 50rem);
  }
  40% {
    transform: translate3d(-20rem, -15rem, 20rem);
  }
  60% {
    transform: translate3d(-30rem, 10rem, 60rem);
  }
  80% {
    transform: translate3d(40rem, -15rem, 30rem);
  }
  100% {
    transform: translate3d(0);
    transform: rotate(0.5turn) scale(0.5);
  }
}
<<<<<<< HEAD:src/styles/index.7f6e1797.css

@media (min-width: 600px) {
  .intro {
    opacity: 0;
    animation-name: fadeIn;
    animation-duration: 3s;
    animation-iteration-count: 1;
  }

  .txt1 {
    animation-delay: 1s;
  }

  .txt2 {
    animation-delay: 4s;
  }

  .txt3 {
    animation-delay: 7s;
  }

  .hero-txt h1 {
    opacity: 0;
    animation-name: fadeIn;
    animation-duration: 2s;
    animation-iteration-count: 1;
    animation-delay: 11s;
    animation-fill-mode: forwards;
  }

  .hero-txt h2 {
    opacity: 0;
    animation-name: fadeIn;
    animation-duration: 2s;
    animation-iteration-count: 1;
    animation-delay: 12s;
    animation-fill-mode: forwards;
  }

  .hero-img {
    opacity: 0;
    animation-name: fadeIn;
    animation-duration: 3s;
    animation-iteration-count: 1;
    animation-delay: 13s;
    animation-fill-mode: forwards;
  }

  header img {
    opacity: 0;
    animation-name: goLeft;
    animation-duration: 2s;
    animation-delay: 15s;
    animation-fill-mode: forwards;
  }

  nav ul {
    opacity: 0;
    animation-name: goRight;
    animation-duration: 2s;
    animation-delay: 15s;
    animation-fill-mode: forwards;
  }

  .hero a {
    opacity: 0;
    animation-name: fadeIn;
    animation-duration: 3s;
    animation-iteration-count: 1;
    animation-delay: 16s;
    animation-fill-mode: forwards;
  }

  .circle1 {
    animation-name: cRed;
    animation-duration: 30s;
    animation-iteration-count: infinite;
  }

  .circle2 {
    animation-name: cBlue;
    animation-duration: 40s;
    animation-iteration-count: infinite;
  }

  .circle3 {
    animation-name: cGreen;
    animation-duration: 50s;
    animation-iteration-count: infinite;
  }
}

@keyframes goLeft {
  0% {
    opacity: .2;
    transform: translateX(40rem);
  }

  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes goRight {
  0% {
    opacity: .2;
    transform: translateX(-40rem);
  }

  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes fadeIn {
  0% {
    transform: scale(.7);
  }

  100% {
    opacity: 1;
  }
}

@keyframes cRed {
  0% {
    transform: translate3d(0);
  }

  20% {
    transform: translate3d(20rem, 30rem, 50rem);
  }

  40% {
    transform: translate3d(40rem, 25rem, 20rem);
  }

  60% {
    transform: translate3d(60rem, 15rem, 60rem);
  }

  80% {
    transform: translate3d(80rem, 15rem, 30rem);
  }

  100% {
    transform: translate3d(0);
    overflow: hidden;
    transform: scale(.7);
  }
}

@keyframes cBlue {
  0% {
    transform: translate3d(0);
    transform: rotate(45deg)scale(.5);
  }

  20% {
    transform: translate3d(-20rem, -25rem, 50rem);
  }

  40% {
    transform: translate3d(-40rem, -20rem, 20rem);
  }

  60% {
    transform: translate3d(-60rem, -10rem, 60rem);
  }

  80% {
    transform: translate3d(-75rem, -10rem, 30rem);
  }

  100% {
    transform: translate3d(0);
    transform: rotate(.5turn);
  }
}

@keyframes cGreen {
  0% {
    transform: translate3d(0);
    transform: rotate(.5turn)scale(1.5);
  }

  20% {
    transform: translate3d(10rem, 5rem, 50rem);
  }

  40% {
    transform: translate3d(-20rem, -15rem, 20rem);
  }

  60% {
    transform: translate3d(-30rem, 10rem, 60rem);
  }

  80% {
    transform: translate3d(40rem, -15rem, 30rem);
  }

  100% {
    transform: translate3d(0);
    transform: rotate(.5turn)scale(.5);
  }
}

=======
>>>>>>> 474113c4fe994ff82f23756bbec9c2346722d353:src/styles/main.css
.about {
  background: white;
  height: 80vh;
  margin: auto;
  width: 90%;
  background: linear-gradient(to right bottom, rgba(255, 255, 255, 0.7), rgba(255, 255, 255, 0.3));
  box-shadow: 6px 6px 20px rgba(122, 122, 122, 0.212);
  border-radius: 2rem;
  z-index: 1;
  backdrop-filter: blur(2rem);
  display: flex;
  flex-direction: column;
  align-items: center;
}
.about .card-about {
  height: 33vmax;
  width: 45%;
<<<<<<< HEAD:src/styles/index.7f6e1797.css
  background: linear-gradient(to top left, #fffc, #ffffff80);
  border-radius: 1rem;
  margin: auto;
=======
  margin: auto;
  background: linear-gradient(to left top, rgba(255, 255, 255, 0.8), rgba(255, 255, 255, 0.5));
  border-radius: 1rem;
>>>>>>> 474113c4fe994ff82f23756bbec9c2346722d353:src/styles/main.css
  padding: 1rem;
  box-shadow: 6px 6px 20px rgba(122, 122, 122, 0.212);
  font-size: 1.2vmax;
}
.about .card-about h1 {
<<<<<<< HEAD:src/styles/index.7f6e1797.css
  padding-bottom: 3vmax;
  font-family: Courgette, cursive;
=======
  font-family: "Courgette", cursive;
  padding-bottom: 3vmax;
>>>>>>> 474113c4fe994ff82f23756bbec9c2346722d353:src/styles/main.css
}
.about .card-about p {
  font-family: "Noto Serif HK", serif;
  padding: 1.5rem 0;
}
.about .card-about a {
  text-decoration: none;
  color: #38a3a5;
}
.about .card-about a:hover {
  color: olive;
}

.carousel {
  background: white;
  height: 80vh;
  margin: auto;
  width: 90%;
  display: flex;
  flex-direction: column;
  background: linear-gradient(to right bottom, rgba(255, 255, 255, 0.7), rgba(255, 255, 255, 0.3));
  box-shadow: 6px 6px 20px rgba(122, 122, 122, 0.212);
  border-radius: 2rem;
  z-index: 1;
  backdrop-filter: blur(2rem);
}
.carousel .card {
  width: 90%;
  height: 90vh;
  margin: auto;
  margin-bottom: 3vmax;
  background: linear-gradient(to left top, rgba(255, 255, 255, 0.8), rgba(255, 255, 255, 0.5));
  border-radius: 1rem;
  padding: 2rem;
  box-shadow: 6px 6px 20px rgba(122, 122, 122, 0.212);
}

<<<<<<< HEAD:src/styles/index.7f6e1797.css
.carousel .card {
  width: 90%;
  height: 90vh;
  background: linear-gradient(to top left, #fffc, #ffffff80);
  border-radius: 1rem;
  margin: auto auto 3vmax;
  padding: 2rem;
  box-shadow: 6px 6px 20px #7a7a7a36;
}

.circle1, .circle2, .circle3 {
=======
.circle1,
.circle2,
.circle3 {
>>>>>>> 474113c4fe994ff82f23756bbec9c2346722d353:src/styles/main.css
  height: 15rem;
  width: 15rem;
  position: absolute;
  z-index: 0;
}

.circle1 {
  background: red;
  border-radius: 50%;
  top: 10%;
  left: 5%;
}

.circle2 {
  width: 0;
  height: 0;
  border-top: 10rem solid transparent;
  border-bottom: 10rem solid transparent;
  border-left: 10rem solid blue;
  bottom: 13%;
  right: 5%;
}

.circle3 {
  background: green;
  top: 40%;
  left: 45%;
}

carousel {
  width: 100%;
  text-align: center;
<<<<<<< HEAD:src/styles/index.7f6e1797.css
  flex-direction: column;
  font-size: 1.4vmax;
=======
>>>>>>> 474113c4fe994ff82f23756bbec9c2346722d353:src/styles/main.css
  display: inline-block;
  flex-direction: column;
  font-size: 1.4vmax;
}
carousel h1 {
  font-family: "Courgette", cursive;
  padding-bottom: 1vmax;
}
carousel p {
  font-family: "Noto Serif HK", serif;
  padding: 1.5vmax 0;
  text-align: start;
}
carousel a {
  text-decoration: none;
  color: #38a3a5;
}
carousel a:hover {
  color: olive;
  text-align: start;
}
carousel section {
  position: absolute;
  top: 2em;
  left: 0;
  width: 100%;
  transition: transform 0.5s;
  transform: scale(0);
}
carousel section div {
  padding: 5em;
}
carousel section label {
  cursor: pointer;
  background: #011627;
  color: #38a3a5;
  border-radius: 10px;
  padding: 0.5em 1em;
  margin-top: 1rem;
}
<<<<<<< HEAD:src/styles/index.7f6e1797.css

carousel section .container {
  align-items: center;
  padding: 1rem 2rem;
=======
carousel section .container {
>>>>>>> 474113c4fe994ff82f23756bbec9c2346722d353:src/styles/main.css
  display: flex;
  align-items: center;
  padding: 1rem 2rem;
}
<<<<<<< HEAD:src/styles/index.7f6e1797.css

carousel section .container .card {
  max-height: 30vmax;
  border-radius: 1rem;
  margin: auto auto 1rem;
  padding: 2rem;
  box-shadow: 6px 6px 20px #7a7a7a36;
}

carousel section .container .card2 {
  background-image: url("mobile-design.8a108f44.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}

carousel section .container .card3 {
  background-image: url("desktop-design.8c121478.jpg");
=======
carousel section .container .card {
  max-height: 30vmax;
  margin: auto;
  margin-bottom: 1rem;
  border-radius: 1rem;
  padding: 2rem;
  box-shadow: 6px 6px 20px rgba(122, 122, 122, 0.212);
}
carousel section .container .card2 {
  background-image: url(../../images/mobile-design.jpg);
  background-repeat: no-repeat;
  background-size: contain;
>>>>>>> 474113c4fe994ff82f23756bbec9c2346722d353:src/styles/main.css
  background-position: center;
}
carousel section .container .card3 {
  background-image: url(../../images/desktop-design.jpg);
  background-repeat: no-repeat;
  background-size: contain;
<<<<<<< HEAD:src/styles/index.7f6e1797.css
}

carousel section .container .card4 {
  background-image: url("pp-active-states.553691d3.jpg");
=======
>>>>>>> 474113c4fe994ff82f23756bbec9c2346722d353:src/styles/main.css
  background-position: center;
}
carousel section .container .card4 {
  background-image: url(../../images/pp-active-states.jpg);
  background-repeat: no-repeat;
  background-size: contain;
<<<<<<< HEAD:src/styles/index.7f6e1797.css
}

carousel section .container .card4a {
  background-image: url("pp-mobile-design.a48d2dc4.jpg");
=======
>>>>>>> 474113c4fe994ff82f23756bbec9c2346722d353:src/styles/main.css
  background-position: center;
}
carousel section .container .card4a {
  background-image: url(../../images/pp-mobile-design.jpg);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}
carousel #page1a:checked ~ #page1 {
  transform: scale(1);
}
carousel #page2a:checked ~ #page2 {
  transform: scale(1);
}
carousel #page3a:checked ~ #page3 {
  transform: scale(1);
}
carousel #page4a:checked ~ #page4 {
  transform: scale(1);
}

@media (min-width: 370px) and (max-width: 412px) {
<<<<<<< HEAD:src/styles/index.7f6e1797.css
  .circle1, .circle2, .circle3, footer .popup, footer .overlay {
    display: none;
  }
}

=======
  .circle1,
.circle2,
.circle3 {
    display: none;
  }
  footer .popup,
footer .overlay {
    display: none;
  }
}
>>>>>>> 474113c4fe994ff82f23756bbec9c2346722d353:src/styles/main.css
@media (max-width: 770px) {
  .hero .content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .hero .content .hero-txt {
    width: 80%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 2rem;
    padding-left: 0;
  }
  .hero .content .hero-img {
    width: 90%;
    height: 90%;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    box-shadow: 0 14rem 5rem 6rem #011627 inset;
  }
  carousel .container {
    flex-direction: column;
    padding: 0.5rem 0.5rem;
    padding-top: 0;
  }
  .about .card-about {
    width: 80%;
  }
  footer .txt2 {
    font-size: 1.5vmax;
  }
}
@media (min-width: 771px) and (max-width: 850px) {
  .hero .content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .hero .content .hero-txt {
    width: 80%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 2rem;
    padding-left: 0;
  }
  .hero .content .hero-img {
    width: 90%;
    height: 90%;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    box-shadow: 0rem 13rem 5rem 7rem #011627 inset;
  }
  .about .card-about {
    width: 80%;
  }
  carousel .container {
    margin-top: 10rem;
  }
}
<<<<<<< HEAD:src/styles/index.7f6e1797.css

html, body {
  scroll-behavior: smooth;
  background-color: #52796f;
  font-family: Noto Serif HK, serif;
=======
html,
body {
  background-color: #52796f;
  scroll-behavior: smooth;
  font-family: "Courgette", cursive;
  font-family: "Noto Serif HK", serif;
>>>>>>> 474113c4fe994ff82f23756bbec9c2346722d353:src/styles/main.css
}

header {
  width: 100vw;
  height: 4rem;
  position: fixed;
  background-color: #011627;
  z-index: 3;
  padding: 0 6rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: auto;
}
header img {
  height: 2rem;
  filter: invert(42%) sepia(65%) saturate(1910%) hue-rotate(163deg) brightness(97%) contrast(101%);
}

.hero {
  width: 100%;
  height: 100vh;
  background-color: #011627;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
}
.hero .content {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  font-family: "Courgette", cursive;
}
.hero a {
  align-self: center;
  padding: 2rem;
}

.intro-txt {
<<<<<<< HEAD:src/styles/index.7f6e1797.css
  justify-content: center;
  align-items: center;
=======
>>>>>>> 474113c4fe994ff82f23756bbec9c2346722d353:src/styles/main.css
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}
.intro-txt .intro {
  position: absolute;
  color: whitesmoke;
  font-size: 12vmax;
  opacity: 0;
}

.hero-txt {
  width: 40%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;
  padding-left: 5rem;
}
.hero-txt h1 {
  color: whitesmoke;
  padding: 3rem 0;
  font-size: 3vmax;
}
.hero-txt h2 {
  color: whitesmoke;
  padding-bottom: 0.5rem;
  font-size: 1.8vmax;
}
.hero-txt span {
  color: #38a3a5;
  font-size: 2.5vmax;
  padding-left: 0.5rem;
}

.hero-img {
  width: 60%;
  height: 80%;
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
<<<<<<< HEAD:src/styles/index.7f6e1797.css
  background-size: contain;
  box-shadow: inset 0 3rem 4rem 11rem #011627;
=======
  background-image: url(../images/hero.jpg);
  box-shadow: 0 3rem 4rem 11rem #011627 inset;
>>>>>>> 474113c4fe994ff82f23756bbec9c2346722d353:src/styles/main.css
}

.midSec {
  height: 100vh;
  width: 100%;
  display: flex;
  position: relative;
}

@media (max-width: 600px) {
  header {
<<<<<<< HEAD:src/styles/index.7f6e1797.css
    padding: 0 .25rem;
    transition: all .7s ease-in-out;
=======
>>>>>>> 474113c4fe994ff82f23756bbec9c2346722d353:src/styles/main.css
    left: 0;
    transition: all 0.7s ease-in-out;
    padding: 0 0.25rem;
  }
}

<<<<<<< HEAD:src/styles/index.7f6e1797.css
/*# sourceMappingURL=index.7f6e1797.css.map */
=======
/*# sourceMappingURL=main.css.map */
>>>>>>> 474113c4fe994ff82f23756bbec9c2346722d353:src/styles/main.css
